
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 ">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>contact</strong></h2>
                <hr />
                <div class="col-md-6 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15178.650331894612!2d79.53864954558678!3d17.99442859489916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a334f99f81dd2cb%3A0x4cf8c6fdb0ee121e!2sSubedari%2C+Hanamkonda%2C+Telangana%2C+India!5e0!3m2!1sen!2sus!4v1478146042074" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <p>HNO: #2-10-871</p>
                    <p>Opp Forest </p>
                    <p>Subedari, Hanamkonda</p>
                    <p>Warangal-506370.</p>
                    <p>CONTACT: 0870-2431053, +919394790495.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
