
@{
    ViewBag.Title = "Home";
}


<div class="container">
    <div class="row">
        <div class="box">
            <marquee style="font-family: cursive;
    font-style: italic;
    font-size: x-large;
    color: black;
">We Undertake All Kinds Of Party Orders Contact: 0870-2431053, +91-9394790495.</marquee>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <img style="height:500px;" src="~/img/NiceImages/Carosal images/4.jpg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box" @*style="padding-left:10px;padding-right:10px" *@>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-responsive img-border img-left" src="~/img/NiceImages/homeimages/6 x 4.jpg" alt="">
                    </div>
                    <div class="col-lg-4">
                        <img class="img-responsive img-border img-left" src="~/img/NiceImages/homeimages/6 x 4_1.jpg" alt="">
                    </div>
                    <div class="col-lg-4">
                        <img class="img-responsive img-border img-left" src="~/img/NiceImages/homeimages/6 x 4_s1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>