
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<div class="container">
    @*<div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>Menu</strong></h2>
                <hr />
                <div class="col-md-12">
                    <p>
                        Theseare all the tasty menu items taht we are serving from the past 30 years.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>SPECIAL ITEMS</strong></h2>
                <hr />
                <div class="col-md-9 col-md-offset-3 text-left">
                    <ul>
                        <li>Spl.Fruit Salad with ice cream</li>
                        <li>Fruit salad with ice cream</li>
                        <li>Spl. Casata (3 Flavours)</li>
                        <li>Casata(3 Flavours)</li>
                        <li>Badam milk with icecream</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>PLAIN ITEMS</strong></h2>
                <hr />
                <div class="col-md-9 col-md-offset-3 text-left">
                    <ul>
                        <li>Vanilla</li>
                        <li>Strawberry</li>
                        <li>Plain Pista</li>
                        <li>Chocolate</li>
                        <li>Mango Ripple</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>CRUNCHY ITEMS</strong></h2>
                <hr />
                <div class="col-md-9 col-md-offset-3 text-left">
                    <ul>
                        <li>Butterscotch</li>
                        <li>Badam Nuts</li>
                        <li>Chocochips</li>
                        <li>Kaju Kismiss</li>
                        <li>Black Current</li>
                        <li>Tutty Fruity</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong>CORNETTO AND BAR ITEMS</strong></h2>
                <hr />
                <div class="col-md-9 col-md-offset-3 text-left">
                    <ul>                       
                        <li>Cornetto Cone (Big)</li>
                        <li>Cornetto Cone (Small)</li>
                        <li>Maha Chocobar</li>
                        <li>Mini Chocobar</li>
                        <li>Mango Bar</li>
                        <li>Kulfi</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr />
                <h2 class="intro-text text-center text-capitalize"><strong> TAKE AWAY FAMILY PACKS(1/2 Lit and 1 Lit).</strong></h2>
                <hr />
                <div class="col-md-9 col-md-offset-3 text-left">
                    <ul>
                        <li>Vanilla</li>
                        <li>Strawberry</li>
                        <li>Plain Pista</li>
                        <li>Mango Ripple</li>
                        <li>Chocolate</li>
                        <li>Butterscotch</li>
                        <li>Badam Nuts</li>
                        <li>Choco Chips</li>
                        <li>Tutty Fruity</li>
                        <li>Kaju Kismiss</li>
                        <li>Black Current</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
